body {
    background: #a5a5a5;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(234, 234, 234, 0.884);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
}

.container:hover{
    box-shadow: 0.2px 5px 30px #b50000;
}
.song h2 { 
    color: #b50000;
    margin-bottom: 5px; 
    font-size: 1.5rem; 
}
.song h3 { 
    margin-top: 0; 
    color: #000; 
    font-weight: 400; 
}

.progress-container {
    background: #b50000;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    height: 6px;
    width: 100%;
}

.progress {
    background: b50000;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.duration-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
}

.duration-wrapper span{
    color: #000;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    background: none;
    border: none;
    color: rgb(18, 18, 18);
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover { 
    transform: scale(1.1); 
    color: #b50000; 
}

.play-button { 
    font-size: 50px; 
}

.volume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.volume-container i{
    color: #000;
    cursor: pointer;
}

.playlist {
    text-align: left;
    border-top: 1px solid #a5a5a5;
    padding-top: 10px;
    max-height: 100px;
    overflow-y: auto;
}

.playlist h2{
    color: #000;
}

#playlist-list { 
    list-style: none; 
    padding: 0; 
    font-size: 14px; 
}
#playlist-list li { 
    padding: 5px 0; 
    cursor: pointer; 
    color: #cf5d5d; 
}
#playlist-list li.active { 
    color: #b50000; 
    font-weight: bold; }